*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Montserrat', sans-serif;
}
body{
color:#111;
}
.navbar{
position:fixed;
top:0;
width:100%;
height:80px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 60px;
background: white;
z-index:1000;
}
.logo{
width:55px;
}
.navbar nav a{
color:white;
text-decoration:none;
margin-left:30px;
font-weight:500;
transition:0.3s;
}
.navbar nav a:hover{
color:#1c69d4;
}
.hero{
height:100vh;
background:url("https://images.unsplash.com/photo-1503376780353-7e6692767b70") center/cover no-repeat;
display:flex;
align-items:center;
padding-left:80px;
color:white;
justify-content: center;
text-align: center;
}
.overlay{
  justify-content: center;
text-align: center;
}
.hero h1{
font-size:64px;
font-weight:700;
justify-content: center;
text-align: center;
}
.hero p{
margin:20px 0;
font-size:20px;
justify-content: center;
text-align: center;
}
.hero button{
padding:14px 30px;
background:#1c69d4;
border:none;
color:white;
cursor:pointer;
justify-content: center;
text-align: center;
}
.image-section{
height:100vh;
background-size:cover;
background-position:center;
display:flex;
align-items:center;
padding-left:80px;
color:white;
}
.i1{
background-image:url("https://images.unsplash.com/photo-1618843479313-40f8afb4b4d8");
}
.i2{
background-image:url("https://images.unsplash.com/photo-1549924231-f129b911e442");
}
.i3{
background-image:url("https://images.unsplash.com/photo-1542362567-b07e54358753");
}
.text-block h2{
font-size:48px;
margin-bottom:10px;
}
.text-block button{
margin-top:15px;
padding:12px 28px;
background:#1c69d4;
border:none;
color:white;
}
.cards{
padding:80px;
display:flex;
gap:30px;
justify-content:center;
flex-wrap:wrap;
}
.card{
width:300px;
text-align:center;
}
.card img{
width:100%;
height:200px;
object-fit:cover;
transition:0.4s;
}
.card img:hover{
transform:scale(1.08);
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #111;
  padding: 40px;
}
.footer-section {
  flex: 1 1 220px;
  margin: 15px;
}
.footer-section h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
}
.footer-section ul {
  list-style: none;
}
.footer-section ul li {
  margin: 6px 0;
  color: #aaa;
  font-size: 14px;
}
.footer-section ul li:hover {
  color: #fff;
  cursor: pointer;
}
.social li {
  display: inline-block;
  margin-right: 10px;
}
.social li:hover {
  color: #00aaff;
}
.footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #777;
}